.preamble
  %p
    = link_to "Collections", collections_url 
    are your broad filing drawers and usually correspond to projects or subjects or some other natural division in your body of materials. Each collection has its own completely distinct set of documents, fragments, tags and speakers.

  - if current_account.account_type.collections_limit > 0
    %p
      Your account has 
      %strong
        = current_account.collections.count 
      of the
      %strong
        = current_account.account_type.collections_limit
        collections
      it is allowed.

%div{:class => "contentblock mainform"}

  = render :partial => 'shared/error_report'
  
  = render :partial => 'shared/edit_name', :locals => {:item => @thing, :f => f, :required => true}

  - with_error_report(@thing.errors.on(:abbreviation)) do
    = f.label :abbreviation, 'Abbreviation', :class => 'optional'
    %span.formnote
      defaults to the initials or (if one word) first few letters of the collection name
    = f.text_field :abbreviation, :class => 'standard'

  = render :partial => 'shared/edit_description', :locals => {:item => @thing, :f => f, :required => true, :heading => 'Description'}

  %div.formpart
    = f.check_box 'private' 
    %label{:for => "collection_private"}
      this is a restricted collection
    %span.formnote
      not visible to other people without express permission
