- @title = @thing.name || 'nameless source'

= render :partial => 'shared/show_file'
= render :partial => 'shared/show_warnings'
= render :partial => 'shared/show_summary'
= render :partial => 'shared/show_detail'
= render :partial => 'shared/show_text'
= render :partial => 'shared/show_nodes'
= render :partial => 'shared/show_tags'
= render :partial => 'shared/show_field_notes'
= render :partial => 'shared/show_topics'
= render :partial => 'shared/show_history', :locals => {:events => @thing.logged_events}

- content_for :admin do
  %p
    = link_to "snip*", new_source_node_path(current_collection, @thing), {:id => 'admin_extend_nodelist', :class => 'snipper create'}
    %br
    = render :partial => 'shared/show_admin', :locals => {:item => @thing}
