- @title = "Upload material"
- @titlenote =  "into #{current_collection.name}"

.preamble
  %p
    Each file you select - you can pick as many as you like in the file dialog - will begin to upload immediately. 
    To add more to the queue, just click on 'add files to queue' again.
    To set the occasion or tags for all your uploads, fill in those boxes first.

  
#source_uploader.uploader
  .upload_controls
    .mainform
      %form.instructions{:action => current_collection ? collected_uploader_path_with_session : uploader_path_with_session}

        %h2.spaced
          1. Describe the circumstances
        %p
          %label{:for => 'upload_occasion_id', :class => 'optional'}
            Occasion or category
          %span.formnote
            optional. 
            = link_to "create occasion*", new_occasion_url(:collection_id => current_collection), {:class=>'create inline', :id => "extend_upload_occasion_id"}
          = select_tag(:upload_occasion_id,  "<option value=""></option>" + options_from_collection_for_select(current_collection.occasions, 'id', 'name'), {:class => 'standard'})
        %p
          %label{:for => "collection_#{current_collection.id}_tags"}
            Choose or create tags
          %span.formnote
            optional. Comma-separated list, please. Spaces are fine.
          %input{:id => "collections_#{current_collection.id}_tags", :name => "tag_list", :class => "tagbox"}
      %h2.spaced
        2. Choose some files
          
      %button#swf_placeholder.chooser

      %p
        You can add more files as often as you like, but you mustn't close this page until they're all complete.

      %h2.spaced
        3. Add detail to each file

    .upload_queue
  
  .postamble

    %p
      When each upload is complete, you'll see a compact description form for that file. 
      %strong
        The file is safely uploaded
      but not yet very well described. You probably want to fill in a better title and description so that you can find it later.


- content_for :admin do
  = render :partial => 'shared/show_admin'