.preamble
  %p
    'Fragments' here are individual pieces of evidence or narrative excerpted from a source document.

%div{:class => "mainform contentblock"}

  = render :partial => 'shared/error_report'

  #editing_summary
    
    %fieldset
      %legend
        Description

      = render :partial => 'shared/edit_name', :locals => {:f => f, :required => true}
      = render :partial => 'shared/edit_description', :locals => {:item => @thing, :f => f, :required => true, :heading => 'Synopsis'}
      
    = yield :buttons

    %fieldset
      %legend
        Contents
      
      = render :partial => 'shared/edit_body', :locals => {:item => @thing, :f => f, :short => @inline, :required => false}
        
      %p.choices
        = f.radio_button :file_from, "source", :id => 'show_use_source_file', :class => 'choice'
        %label{:for => 'show_use_source_file'}
          cut a segment from the source file

        = f.radio_button :file_from, "file", :id => 'show_use_own_file', :class => 'choice'
        %label{:for => 'show_use_own_file'}
          upload a file
      
      - if @thing.source.is_audio_or_video?
        #use_source_file.playerwidth
          = render :partial => 'shared/audio_player', :locals => { :url => @thing.source.file.url, :inat => @thing.playfrom, :outat => @thing.playto }
          %table.twocolumn
            %tr
              %td
                - with_error_report(@thing.errors.on(:playfrom)) do
                  = f.label :playfrom, "Clip from"
                  %br
                  = f.text_field 'playfrom', :class => 'standard playfrom'
              %td
                - with_error_report(@thing.errors.on(:playto)) do
                  = f.label :playto, "Clip to"
                  %br
                  = f.text_field 'playto', :class => 'standard playto'
          %p.formnote
            Please enter timecodes in the form mm:ss.x or hh:mm:ss.x. The player should display the right values. 
            Soon there will be a new player that fills in these values for you.
      - else 
        #use_source_file
          %p
            Soon it will be possible to excerpt pages from pdf files. But not yet.
        
      #use_own_file
        - with_error_report(@thing.errors.on(:clip)) do
          = f.file_field :clip
          

    = yield :buttons

    %fieldset
      %legend
        Filing

        = render :partial => 'shared/edit_tags', :locals => {:item => @thing, :f => f}
        = render :partial => 'shared/edit_image', :locals => {:item => @thing, :f => f}
        = render :partial => 'shared/edit_source', :locals => {:item => @thing, :f => f}
        = render :partial => 'shared/edit_speaker', :locals => {:item => @thing, :f => f}

    = yield :buttons
