.preamble
  %p
    'Fragments' here are individual pieces of evidence or narrative excerpted from a source document.

%div{:class => "mainform contentblock"}

  = render :partial => 'shared/error_report'

  #editing_summary
    
    %fieldset
      %legend
        Description

      = render :partial => 'shared/edit_name', :locals => {:f => f, :required => true}
      = render :partial => 'shared/edit_description', :locals => {:item => @thing, :f => f, :required => true, :heading => 'Synopsis'}
      
    = yield :buttons

    %fieldset
      %legend
        Contents
      
      = render :partial => 'shared/edit_body', :locals => {:item => @thing, :f => f, :short => @inline, :required => false}
        
      %p
        = f.radio_button :file_from, "source"
        %label{:for => 'show_thing_body_from_text', :class => 'decision'}
          cut a segment from the source clip

        = f.radio_button :file_from, "file"
        %label{:for => 'show_thing_body_from_file', :class => 'decision'}
          upload a clip
      
      #use_source_file.playerwidth
        = render :partial => 'shared/audio_player', :locals => { :url => @thing.source.file.url, :inat => @thing.playfrom, :outat => @thing.playto }
        %table
          %tr
            %td
              - with_error_report(@thing.errors.on(:playfrom)) do
                = f.label :playfrom, "From"
                %br
                = f.text_field 'playfrom', :style =>  "width: 140px;"
            %td
              - with_error_report(@thing.errors.on(:playto)) do
                = f.label :playto, "To"
                %br
                = f.text_field 'playfrom', :style =>  "width: 140px;"
          
      #use_own_file
        - with_error_report(@thing.errors.on(:clip)) do
          = f.file_field :clip
          

    = yield :buttons

    %fieldset
      %legend
        Filing

        = render :partial => 'shared/edit_tags', :locals => {:item => @thing, :f => f}
        = render :partial => 'shared/edit_image', :locals => {:item => @thing, :f => f}
        = render :partial => 'shared/edit_source', :locals => {:item => @thing, :f => f}
        = render :partial => 'shared/edit_speaker', :locals => {:item => @thing, :f => f}

    = yield :buttons
