- @title = "Extract fragment"

%p.subheader
  from 
  = link_to @thing.source.name, collected_url_for(@thing.source)

- content_for :buttons do
  .formbuttons
    = submit_tag "Create Fragment"
    or
    = link_to 'cancel', {:action => 'index'}, {:class => 'cancelform'}

.mainform
  - form_for :thing, :url => nodes_url(current_collection), :html => { :multipart => true, :id => 'nodeform'} do |f| 
    = render :partial => 'form', :locals => {:f => f}

- content_for :admin do
  %p
    = link_to "^ source", collected_url_for(@thing.source)
    %br
    = render :partial => 'shared/show_admin', :locals => {:item => @thing}
