- benchid = ""
- benchid << "collections_#{current_collection.id}_" if current_collection
- benchid << "user_#{current_user.id}_bookmarkings"

#workbench
  %div.tabs
    = link_to 'bench', '#', :class => 'tab fg'
    = link_to 'tags', '#', :class => 'tab'
    = link_to 'inbox', '#', :class => 'tab'
  #bench.tabbed
    %ul{:id => benchid, :class => "benchlist", :catches => "#{Kobble.bookmarked_models.join(',')}", :title => 'workbench'}
      = render :partial => 'components/bookmarking_list'
    %p.explanatory
      Click on listings to select them. Actions will be offered. 
      Drag one 
      %span.notyet
        or many
      out into space to remove. Drag onto something else to apply.
    %p.controls
      - if current_collection
        = link_to "Create set &larr;", new_bundle_url(current_collection), :class => 'setter'
        %br
      = link_to "Remove &larr;", user_bookmarkings_url(current_user), :class => 'remover'
