- if benching
  - item = benching.benched
  - name = item.name.nil? || item.name.blank? ? "nameless #{item.class.nice_title}" : item.name 

  %li{:id => "benching_#{benching.id}", :class => "benched selectable sortable #{cycle('alternate', '', :name => "bench_rows")}"}
    = check_box_tag 'bench[]', benching.id, false, :id => "cb_bench_#{benching.id}", :class => 'selector'
    = link_to name, collected_url_for(item), :id => "#{item.class.to_s.downcase}_#{item.id}", :class => "#{item.class.to_s.downcase} draggable"
