- benchid = ""
- benchid << "collections_#{current_collection.id}_" if current_collection
- benchid << "user_#{current_user.id}_bookmarkings"

- if current_collection
  - weighted_tags ||= current_collection.tags_with_popularity
  - tags = weighted_tags.size > 100 ? weighted_tags : weighted_tags.select{|t| t.used.to_i > 1 }

#workbench
  %div.tabs
    = link_to 'bench', '#', :class => 'tab fg', :id => 'show_bench_bench'
    - if current_collection
      = link_to 'tags', '#', :class => 'tab', :id => 'show_bench_tags'
    = link_to 'inbox', '#', :class => 'tab', :id => 'show_bench_inbox'

  #bench_bench.tabbed
    %ul{:id => benchid, :class => "benchlist", :catches => "#{Kobble.bookmarked_models.join(',')}", :title => 'workbench'}
      = render :partial => 'components/bookmarking_list'
    %p.explanatory
      Click on listings to select them. Actions will be offered. 
      Drag one 
      %span.notyet
        or many
      out into space to remove. Drag onto something else to apply.
    %p.controls
      - if current_collection
        = link_to "Create set &larr;", new_bundle_url(current_collection), :class => 'setter'
        %br
      = link_to "Remove &larr;", user_bookmarkings_url(current_user), :class => 'remover'

  - if current_collection
    %div{:id => "bench_tags", :class => "tabbed"}
      %ul{:class => "taglist"}
        = render :partial => 'shared/tag_cloud', :locals => {:cloud => tags}
    
  #bench_inbox.tabbed
    %p
      In the more distant future this will be a way to exchange interesting objects with other people in your account.