- @title = 'Users in your account' 

%p
  Soon(ish) you will be able to send things to people by dropping them on a name or photo. 
  This page will get a lot more useful and a little better to look at too.
  
#userlist
  = render :partial => 'user', :object => current_account.user
  - if current_user.is_admin?
    .user
      = link_to image_tag("/images/furniture/kobble/32/grey/person.png"), new_user_url, :class => 'newuser'
      = link_to 'add another user', new_user_url, :class => 'header admin'
  = render :partial => 'user', :collection => @list.select{|u| !u.account_admin?}

  %p.explanatory
    The user icons are gravatars. If you don't have one, sign up at
    = link_to 'gravatar.com', 'http://www.gravatar.com'
    and upload a picture. 


- content_for :admin do
  = render :partial => 'shared/show_admin'
  
