- item ||= @thing
- heading ||= item.new_record? ? 'Password' : 'Change password'
- help ||= item.new_record? ? 'at least six characters, please' : 'leave blank to keep present password'
- required ||= false
- confirm_heading ||= item.new_record? ? "Confirm password" : "Confirm new password"

- with_error_report(item.errors.on(:password)) do
  = f.label :password, heading, :class => required ? 'required' : 'optional'
  - if help
    %span.formnote
      = help
    %br
  = password_field_tag 'user_password', '', {:class => 'standard', :name => 'user[password]'}

- with_error_report(item.errors.on(:password_confirmation)) do
  = f.label :password_confirmation, "", :class => required ? 'required' : 'optional'
  - unless item.new_record?
    %span.formnote
      leave blank to keep present passowrd
      %br
  = password_field_tag 'user_password_confirmation', '', {:class => 'standard', :name => 'user[password_confirmation]'}
