- item ||= @thing

- if item
  - collection = item if item.is_a?(Collection)
  - collection ||= item.collection if item.has_collection?

- collection ||= current_collection

%ul
  - if collection && !collection.deleted?
    %li
      = link_to "add material to collection", upload_sources_url(collection), {:class => 'create'}
  - else
    %li
      = link_to "add material", uploader_url, {:class => 'create'}

  - if item && !item.new_record? && !item.deleted?
    %li
      = link_to_unless_current "edit #{item.nice_title}" , edit_url_for(item), {:class => 'update'}
    - if item.is_notable?
      %li
        = link_to "add note*", item_new_note_url(item), {:id => 'admin_extend_notelist', :class => 'annotate inline'}
    - if item.is_discussable?
      %li
        = link_to "discuss*", item_new_topic_url(item), {:id => 'admin_extend_topiclist', :class => 'discuss inline'}
    - if item.is_a?(Collection)
      - if account_admin?
        %li
          = link_to "delete", url_for(item), {:class => 'warning', :method => 'delete'}
    - else
      %li
        = link_to "delete", collected_url_for(item), {:class => 'warning', :method => 'delete'}
    - if item.is_searchable?
      %li
        = link_to "find similar", search_url(:like => "#{item.class.to_s.downcase}_#{item.id}")

  - else
    %li
      = link_to_unless_current "preferences", edit_user_url(current_user)
    - if account_admin?
      %li
        = link_to_unless_current "account settings", edit_account_url(current_account), {:class => 'admin'}
