- item ||= @thing
- count ||= 20
- events ||= @since ? item.events.since(@since) : item.events.latest

%h3.pagesection
  %a{:href => "#", :class => "squeezebox"}
    latest changes 
    %span.headernote
      - if events.count > 0
        - latest = events.first
        - if latest.user
          - who = latest.user == current_user ? 'you' : latest.user.name
        - else
          - who = 'someone'
        %strong
          = latest.affected.name
        = latest.event_type
        by 
        = who
        = time_ago_in_words(latest.at)
        ago
      - else
        No history

%div{:id => 'historylist', :class => 'squeezed mainlist'}

  - if events.empty?
    %p
      No activity recorded
      - unless @since.nil?
        in this period
  - else 
    %h4.listheader
      -if events.count > count
        = count
        of
      = pluralize(events.count, "Event")
      - unless @since.nil?
        in this period
      - if [User, Collection, Account].include?(item.class)
        %span.headernote
          = link_to "show full history", item_history_url(item)

    %ul
      - events.each do |event|
        - if event.affected
          - if event.user
            - who = event.user == current_user ? 'you' : event.user.name
          - else
            - who = 'someone'
          = render :partial => "shared/listed", :locals => { :listed => event.affected, :name => event.affected_name || event.affected.name, :status_class => event.event_type, :addendum => "#{event.event_type} by #{who} #{time_ago_in_words(event.at)} ago", :idprefix => 'historical' }
