- search_path ||= list_search_path

.searchform
  -form_tag search_path, :method => :get do
    %label{:for => 'q', :class => 'required'}
      search for:
    %br
    = text_field_tag :q, params[:q], :class => 'search'
    = submit_tag 'go', :name => nil, :class => 'gobutton'
    - if @klass
      %br
      = check_box_tag 'only', @klass.to_s, true, :id => "only_#{@klass.to_s}"
      %label{:for => "only_#{@klass.to_s}"}
        only among
        = @klass.nice_title.pluralize

  %h3
    fun with search
  %ul
    %li 
      tea 
      %strong AND
      cake
      %span.explanatory will find anything containing both terms
    %li
      cake 
      %strong OR
      buns  
      %span.explanatory will find anything containing either term
    %li
      tea 
      %strong AND 
      (cake 
      %strong OR 
      buns)
      %span.explanatory combines operators for greater precision
    %li
      tea 
      %strong NOT
      cold  
      %span.explanatory will exclude the latter
    %li
      tea 
      %strong NOT 
      "rich tea"  
      %span.explanatory will exclude nasty biscuits
    %li 
      tea&nbsp;
      %strong<> +
      milk&nbsp;
      %strong<> -
      sugar   
      %span.explanatory is is a useful shORthAND
    %li 
      tea 
      %strong AND 
      "revolution of the proletariat"  
      %span.explanatory will look for the whole phrase
    %li 
      tea 
      %strong AND 
      misc
      %strong<>
        *&nbsp;
      %span.explanatory will find anything with that stem
    %li 
      picnic 
      %strong NEAR 
      river
      %span.explanatory will look for the terms within 10 words of each other
      
      
      