- item = listed[:model]
- size_class = 'significant' if listed[:percent] > 25
- type_class = listed.is_a?(Source) ? [item.file_type] : [item.class.to_s.downcase]

%li{:id => "#{item.class.to_s.downcase}_#{item.id}", :class => "found", :style => "margin-bottom: 10px;"}
  - name = item.name.blank? ? "nameless #{item.class.nice_title}" : item.name 
  = link_to name, collected_url_for(item), :id => item.id, :style => "font-size: #{70 + (1.6 * listed[:percent])}%; line-height: 1.#{listed[:percent]/5};", :class => "draggable #{type_class}"
  = render :partial => 'shared/note_flags', :locals => {:item => item}
  %span.rating
    match:
    = "#{listed[:percent]}%"
    = link_to "find similar", list_search_url(:like => "#{item.class.to_s.downcase}_#{item.id}")
  %br
  = truncate( item.find_some_text, 100 )
