.pagination
  Kobble found
  = pluralize @search.matches_estimated, 'item'
  - if @query
    matching 
    %strong
      = @query
  - elsif @cue
    - if @cue.class == Bundle
      like (but not among) 
      %br
      the members of the
    - else
      similar to the
    = @cue.nice_title
    %strong
      = link_to @cue.name, url_for(@cue)
    
  %br
  = will_paginate WillPaginate::Collection.new(@page, @per_page, @search.matches_estimated), :prev_label => 'previous', :next_label => 'next', :separator => ' &middot; ', :container => false
