- @title = @cue ? "search for similar items" : "search for &lsquo;#{params[:q]}&rsquo;"

- if @search && @search.results.any?

  = render :partial => 'summary'
  
  .mainlist
    %ul
      = render :partial => 'listed', :collection => @search.results, :locals => {:catch => true}

- else
  
  - if @cue
    %p
      Sorry: we found nothing else like 
      = link_to @cue.name, collected_url_for(@cue)
  - else
    %p
      Sorry: we found nothing matching 
      %strong
        = params[:q]

= render :partial => 'form', :locals => {:search_url => list_search_path}

- content_for :admin do
  = render :partial => 'shared/show_admin', :locals => {:item => nil}
