- @title = @cue ? "search for similarities" : "search for &lsquo;#{params[:q]}&rsquo;"

- if @search && @search.results.any?

  = render :partial => 'summary'
  
  .mainlist
    %ul
      = render :partial => 'listed', :collection => @search.results, :locals => {:catch => true}

- else

  %p
    Sorry: we found nothing matching 
    %strong
      = params[:q]
      
    %h3
      search parameters
    %pre
      = @parameters.inspect
      
    %h3
      search results
    %pre
      = @search.results.to_yaml

= render :partial => 'form', :locals => {:search_url => list_search_path}
