- item ||= @thing
- inactive ||= false
- ulclass = inactive ? 'inactive' : 'catcher'
- catches = inactive ? '' : "#{Kobble.organised_models.join(',')}"

%h3.pagesection
  %a{:href => "#", :class => "squeezebox"}
    contents 
    %span.headernote
      = pluralize(item.members.length, 'members')

%div{:id => 'bundle_members', :class => 'squeezed contentblock'}
  .mainlist
    %ul{:id => "collection_#{current_collection.id}_bundle_#{item.id}_bundlings", :class => ulclass, :catches => catches, :title => "members of set #{item.name}"}
      = render :partial => 'components/bundling_list', :locals => {:item => item, :inactive => inactive}
    - if inactive
      %p.listnote
        This list will be editable by drag and drop once the set has been created.
    - else
      %p.listnote
        Drag items into or out of this list to edit the set.
