- @title = "Edit #{@thing.name}"
  
.mainform">
  - form_for :thing, :url => collected_url_for(@thing), :html => { :method => "put", :multipart => true } do |f| 
    = render :partial => 'form', :locals => {:f => f}

    .formbuttons
      = submit_tag "Update Set"
      or
      = link_to 'cancel', collected_url_for(@thing)

- content_for :admin do
  = link_to "^ set", collected_url_for(@thing)
  = render :partial => 'shared/show_admin'
