!!! 1.1
- @inline = false
- @title ||= 'welcome'

%html
  %head
    %title
      kobble
      - if @title
        \:
      = @title
    = javascript_include_tag 'mootools', 'mootools-more'
    = javascript_include_tag 'autocompleter/Autocompleter.js', 'autocompleter/Autocompleter.Request.js', 'autocompleter/Observer.js'
    = javascript_include_tag 'swfupload/swfupload', 'swfupload/swfupload.cookies', 'swfupload/swfupload.queue', 'swfupload/swfupload.speed'
    = javascript_include_tag 'kobble/dragdrop', 'kobble/collapser', 'kobble/navigation', 'kobble/suggester', 'kobble/inline_links', 'kobble/zoomer', 'kobble/kore'
    = yield :extra_js
    = stylesheet_link_tag 'kobble', :cache => "cache/kobble"
    = yield :extra_css

%body
  #mainpage
    #pagetitle
      %h1{:class => @title.size > 50  ? "long_title" : "short_title"}
        = @title
        - if @thing && @thing.has_collection? && !@thing.new_record?
          %span.header_icon<>
            = link_to icon_for(@thing), collected_url_for(@thing), :id => "#{@thing.class.to_s.downcase}_#{@thing.id}", :class => "draggable #{@thing.class.to_s.downcase}", :title => @thing.name
                      
    #canvas
      = yield

  = render :partial => 'layouts/masthead'
  
  #mastfoot
    #navigation
      = link_to 'home', root_url, {:class => 'administrative'}
      
      - if current_collection
        &gt;
        = link_to current_collection.abbreviation, url_for(current_collection), {:class => 'administrative'}
        [
        = link_to "sources", sources_url(current_collection), {:class => (request.parameters[:controller] == 'sources' ? "fg" : '')}
        = link_to "fragments", nodes_url(current_collection), {:class => (request.parameters[:controller] == 'nodes' ? "fg" : '')}
        = link_to "sets", bundles_url(current_collection), {:class => (request.parameters[:controller] == 'bundles' ? "fg" : '')}
        = link_to "people", people_url(current_collection), {:class => (request.parameters[:controller] == 'people' ? "fg" : '')}
        = link_to "tags", tags_url(current_collection), {:class => (request.parameters[:controller] == 'tags' ? "fg" : '')}
        = link_to 'discussion', topics_url(current_collection), {:class => request.parameters[:controller] == 'topics' ? " fg" : ''} if current_account.can_have_discussion?
        ]
      - if current_account
        = link_to 'search', search_url, {:class => 'administrative'}
        = link_to 'log out', user_session_path, :method => :delete, :class => 'administrative'

  = render :partial => 'users/bench', :locals => {:collection => current_collection}
  
  #admin
    = yield :admin

  - if flash[:notice]
    = javascript_tag %{window.addEvent('load', function(){ k.announce('#{escape_javascript(flash[:notice])}'); });}
  - if flash[:error]
    = javascript_tag %{window.addEvent('load', function(){ k.complain('#{escape_javascript(flash[:error])}'); });}
